@font-face {
  font-family: "dmserif";
  src: url(../fonts/DMSerifDisplay-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "public-700";
  src: url(../fonts/PublicSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "public-400";
  src: url(../fonts/PublicSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "roboto-400";
  src: url(../fonts/RobotoMono-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
