.tesla {
  background-color: #1b262f;
  background-image: url(../img/pyatnoo__.png);
  background-repeat: no-repeat;
  margin-top: 237px;
  &__wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  &__img-one {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &__img-two {
    display: flex;
    align-items: center;
    gap: 73px;
  }
  &__texts {
    width: 50%;
    height: 472px;
  }
  &__title {
    font-family: "dmserif";
    font-size: 48px;
    color: #fbfcfe;
    margin-top: 87px;
    margin-bottom: 24px;
  }
  &__text {
    width: 424px;
    font-family: "public-400";
    font-size: 15px;
    line-height: 28px;
    color: #fbfcfe;
    opacity: 70%;
    margin-bottom: 32px;
  }
  &__btn {
    @include mini-btn;
  }
}
@media only screen and(max-width:768px) {
  .tesla {
    background-image: url(../img/pyatno__hero_mobile.png);
    margin-top: 100px;
    &__wrp {
      flex-direction: column-reverse;
    }
    &__icons {
      margin-top: 90px;
    }
    &__texts {
      width: 500px;
      text-align: center;
    }
    &__text {
      margin-left: 29px;
    }
  }
}
